<!doctype html>
<html>
<head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-E13XLWTWP4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-E13XLWTWP4');
</script>

  	<meta name="description" content="Helping you scale you systems.">
	<meta name="keywords" content="Back End Devlopment, DevOps, System Architecture, Software Development Life Cycle, Scale, Grow, Tech, devlopper">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/assets/main.css" />
	<link href="https://fonts.googleapis.com/css?family=Nunito|Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="/vendor/fontawesome-6/css/fontawesome.min.css">
	<link rel="stylesheet" href="/vendor/fontawesome-6/css/solid.min.css">
	<link rel="stylesheet" href="/vendor/fontawesome-6/css/brands.min.css">
	{{ if (fileExists "/static/favicon.png") }}


<link rel="icon" type="image/png" href="favicon.png" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
{{ end }}
	<title>{{ .Site.Title }}</title>
</head>
<body>
	<header>
		<div class="content">
			<div class="section, left">
				<h1>{{ .Site.Params.header }}</h1>
			</div>
			<div class="section, rigth, mail">
				<i class="fa fa-envelope" aria-hidden="true"></i>
				{{ .Site.Params.mail }}

			</div>
		</div>
	</header>
	
	<article class="splash">
		<div class="section">
			<h2 class="tagline">{{ .Site.Params.tagline }}</h2>
		</div>
		<div class="section">
			<img src="2250.svg" alt="splash image decoration"><br>
			<a href="http://www.freepik.com">Image designed by upklyak / Freepik</a>
		</div>
	</article>

	<article>
	<h3>
	Allow us to help you with your:
	</h3>
	<div class="services">
	{{ range where .Site.Pages "Section" "services" }}
		{{ if in .Path ".md" }}
			<div class="service">
				<h2><i class="fas {{ .Params.icon }}"></i>{{ .Title }}</h2>
				{{ .Content }}
			</div>
		{{ end }}
	{{ end }}
	</div>
	</article>

	<footer>
		<div class="content">
			<div class="section, left">
				<h1>{{ .Site.Params.header }}</h1>
			</div>
			<div class="section, rigth, mail">
				<i class="fa fa-envelope" aria-hidden="true"></i>
				{{ .Site.Params.mail }}
			</div>
		</div>
	</footer>


<script>
const headings = document.querySelectorAll("h1");
for (const heading of headings) {
	text = '<span class="specialName">' + (heading.innerHTML).substring(0,2)+ "</span>" + '<span class="specialDevider">•</span>'+ (heading.innerHTML).substring(2)
	heading.innerHTML = text

}
</script>
</body>
</html>
