:root {
	/*373838*/

/*------------ body----------------- */
--background: #fff;

/*------------ header--------------- */
--header_background: #fff;
--header_h1: #f09e1f;
--header_accent_2: #426396;
--header_accent_1: #000;

/*------------ splash-------------- */
--splash_background: #426396;
--splash_text_1: #fff;
--splash_text_2: #6398d7;
--splash_accent_1: #f09e1f;

/*------------ services -------------- */
--services_heading: #426396; 
--services_heading_section: #f09e1f;
--services_accent: #426396;
--services_text: #555;

/*------------ footer -------------- */
--footer_accent_1: #fff;
}



html,
body{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: var(--background);
	font-family: 'Roboto', sans-serif;
}

.content{
	display: flex;
	width: 65%;
	justify-content: space-between;
	margin: auto;
}

.left{
	text-align: left;
}
.right{
	text-align: right;
}


header{
	background-color: var(--header_background);
	padding: 1em;
	padding: 0px;
	margin: 0px;
}
	header .section{
		
	}
	header h1{
		color: var(--header_h1);
		font-size: 2.2rem;
		font-weight: 400;
	}
	header .specialName{color: var(--header_accent_2);}
	header .specialDevider{
		color: var(--header_accent_1);
		font-size: 1.6rem;
	}
	header .mail{
		color: var(--header_accent_2);
		font-size: 1.2rem;
		padding: 2.4rem;
	}

.splash{
	background-color: var(--splash_background);
	width: 100%;
	text-align: center;
	color: var(--splash_text_1);
	font-weight: 300;
	display: flex;
	justify-content: space-evenly;
}
	.splash .section{
		padding-left:1rem;
		padding-right:1rem;
	}
	.splash img{
		max-width: 50rem;
	}
	.splash .tagline{
		max-width: 50rem;
		font-size: 2.6rem;
		font-weight: 300;
	}
	.splash a:link, a:visited {
		color: var(--splash_text_2);
		padding-bottom: 1rem;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 0.6rem;
	}

	a:hover, a:active {
		color: var(--splash_accent_1);
	}


article h3{
		color: var(--services_heading);
		font-size: 2rem;
		font-weight: 300;
		text-align:center;

	}

.services{
	display: flex;
	margin: 2rem auto 0;
	width: 65%;
	font-weight: 400;
	text-align: left;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size:1.2rem;
}
	.services .service{
		width: 47%;
		flex-shrink: 0;
	}
	.services h2{
		color: var(--services_heading_section);
		font-size: 2rem;
		font-weight: 300;
	}
	.services i{
		margin-right: 20px;
		color: var(--services_accent);
	}
	.services p{
		color: var(--services_text);
		text-align: left;
	}
	.services ul{
		text-align: left;
		color: var(--services_text);
	}


footer {
	background-color: var(--splash_background);
	margin-top: 1rem;
}

	footer h1{
		color: var(--header_h1);
		font-size: 2.2rem;
		font-weight: 400;
	}
	footer .specialName{color: var(--footer_accent_1);}
	footer .specialDevider{
		color: var(--header_accent_1);
		font-size: 1.6rem;
	}
	footer .mail{
		color: var(--footer_accent_1);
		font-size: 1.2rem;
		padding: 2.4rem;
	}

@media (max-width: 1280px){
	.services{
		flex-direction: column;
	}

	.services .service{
		width: 100%;
	}
}
@media (max-width: 1110px){
	.splash{
		flex-direction: column;
	}
	.splash .tagline{
		max-width:100%;
	}
	.splash img{
	}
}

@media (max-width: 737px){
	.content {
		flex-direction: column;
		width: 90%;
	}

	footer .mail{
		font-size: 1.2rem;
		padding: 2.4rem;
		padding-top: 0rem;  
		padding-bottom: 1rem;  
		padding-left: 0rem;  
	}

	header .mail{
		color: var(--header_accent_2);
		font-size: 1.2rem;
		padding: 2.4rem;
		padding-top: 0rem;  
		padding-bottom: 1rem;  
		padding-left: 0rem;  
	}


	.splash img{
		max-width: 27rem;
	}

	article h3{
		font-size: 1.7rem;
	}
	.services {
		font-size: 1.2rem;
		width: 90%;
	}
	.services h2{
		font-size: 1.5rem;
	}
	.services i{
		margin-right: 5px;
		color: var(--services_accent);
	}
}


@media (max-width: 410px){
	.splash img{
		max-width: 20rem;
	}
}
@media (max-width: 480px){
	header .mail{
		font-size: 1rem;
	}

	.splash .tagline{
		font-size: 1.5rem;
	}
}


